.cube1 {
    background-color: blueviolet;
	color:white;
	height:150px;
	width:200px;
	position:static;
}
.cube2 {
    background-color: darkred;
	color:white;
	height:150px;
	width:200px;
    position:relative;
    top: -20px; 
}
.cube3 {
    background-color: peru;
	color:white;
	height:150px;
	width:200px;
	position:relative;
	bottom:60px;
	left:35px;
}
.cube4 {
    background-color: indianred;
	color:white;
	height:450px;
	width:700px;
    position:relative;
    top: -50px; 
}
.cube5 {
    background-color: indigo;
	color:white;
	height:150px;
	width:200px;
	position:absolute;
	right: 642px;
	top:650px;
}
.cube6 {
    background-color: forestgreen;
	color:white;
	height:100px;
	width:100px;
	position:fixed;
	bottom: 50px;
	right: 542px;
}